# Virtual Environment
venv/
.venv/
env/
ENV/
.env
.envrc

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/
tempCodeRunnerFile.py

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Python packages
*.egg-info/
*.egg
dist/
build/
.eggs/
wheels/

# Flask
instance/
.webassets-cache

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checkers
.mypy_cache/
.pytype/
.pyre/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# PyMuPDF
*.pyd

# Streamlit
.streamlit/secrets.toml